/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
 .horizontalFlowing {
    padding: 15px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #f9e1de;
  }
   
  .horizontalFlowing_content.-loop-right-to-left {
    white-space: nowrap;
    animation-name: loop-right-to-left;
    animation-duration: 10s; /* アニメーションのスピード */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: both;
  }
   
  .horizontalFlowing_content-txt {
    padding: 0 20px;
    display: inline-block;
  }
   
  @keyframes loop-right-to-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }